/* CSS */
/* Vertical Mobile */

* {box-sizing: border-box;}

h1 {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial;
}

p {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial;
}

label {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial;
}

button {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial;
}

span {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial;
}

.topnavbar {
    background-color: rgb(220, 155, 25);
}

.divCenterImg {
    text-align:center;
}

#leftNav {
    border:2px solid black;
    width:95vw;
    height:16.66vh;
    background-color:white;
    transform:translate(2.5vw, 1vh);
    min-height:100px;
}

#brandImage {
    width:75vw;
    max-height:100px;
    max-width:350px;
}

#rightNav {
    height:40vh;
}

.ribbon {
    width:70vw;
    height:10vh;
    color:rgb(220, 155, 25);
    background-color:rgb(255, 255, 255);
    font-family: Arial;
    font-size:27px;
    border-radius:10%;
    font-weight:500;
    text-align:center;
    transform:translate(15vw);
    padding:0px;
}

.ribbon:hover {
    background-color: rgb(220, 155, 25);
    color:rgb(255, 255, 255);
}

#meetUs {
    margin-top:3vh;
    margin-bottom:2vh;
}

#ourLiners {
    margin-bottom:2vh;
}

#calculatorTitle {
    text-align:center;
    font-size:42px;
    color:rgb(220, 155, 25);
}

#calcDesc {
    text-align:center;
    font-size:20px;
    padding:20px;
}

#divCalc {
    background-color: rgba(235, 235, 215, 0.75);
    border: 2px solid rgb(235, 235, 215);
}

#measurements {
    height:40vh;
    width:100vw;
    border-radius:20%;
    padding:20px;
}

.lbl {
    display:block;
    text-align:center;
    font-size:28px;
    margin-bottom:2vh;
    margin-top:2vh;
}

.textBox {
    height:5vh;
    max-width:35vw;
    transform:translate(32vw, 0);
    font-size:18px;
    text-align:center;
}

#divBtnBottom {
    height:10vh;
}

.btn {
    padding:0px;
    border-radius: 20%;
    height:7.5vh;
    width:24vw;
    font-weight:bold;
    font-size:20px;
    background-color: rgba(235,235,235,0.75);
    color:rgb(220, 155, 25);
    margin-top:2vh;
    transform:translate(25.5vw);
    line-height: 6vh;
}

.btn:hover {
    background-color: rgb(220, 155, 25);
    color:white;
}

#outputRow {
    height:30vh;
}

#divOutputBox {
    border:2px solid rgba(220, 155, 25, .25);
    background-color: rgba(220, 155, 25, 0.025);
}

#outputText {
    font-size:24px;
    text-align:center;
    padding:5px;
}

.outputImg {
    width:39vw;
    height:30vh;
    padding:4px;
}

.outputImg:hover {
    box-shadow: 0px 0px 25px rgb(250, 250, 136);
}

#divOutputImgRow {
    height:35vh;
}

#divOutputLeftOuter {
    float:left;
    width:20vw;
    margin-left:2vw;
}

#divOutputLeftMiddle {
    float:left;
    width:20vw;
}

#divOutputLeftInner {
    float:left;
    width:20vw;
}

#divOutputRightInner {
    float:left;
    width:20vw;
}

#divOutputRightMiddle {
    float:left;
    width:20vw;
}

#ourProducts {
    text-align:center;
    font-size:42px;
    color:rgb(220, 155, 25);
}

.productText {
    text-align: center;
    font-size:24px;
    font-weight:bold;
}

.productImg {
    max-height:275px;
    max-width:165px;
    min-height:275px;
    min-width:165px;
}

#divLarge {
    background-color: rgba(220, 155, 25, 0.15);
    padding:10px;
}

#divExtraGiant {
    background-color: rgba(220, 155, 25, 0.25);
    padding:10px;
}

#divFlatBottom {
    background-color: rgba(220, 155, 25, 0.15);
    padding:10px;
}

#divJumbo {
    background-color: rgba(220, 155, 25, 0.25);
    padding:10px;
}

#divWalmart {
    background-color: rgba(220, 155, 25, 0.15);
    padding:10px;
}

#divSifting {
    background-color: rgba(220, 155, 25, 0.25);
    padding:10px;
}

#divSuperJumbo {
    background-color: rgba(220, 155, 25, 0.15);
    padding:10px;
}

#largeText {
    color:purple;
}

#large:hover {
    box-shadow: 0px 0px 25px purple;
}

#extraGiantText {
    color:rgb(248, 121, 142);
}

#extraGiant:hover {
    box-shadow: 0px 0px 25px rgb(248, 121, 142);
}

#flatBottomText {
    color:rgb(208, 131, 208);
}

#flatBottom:hover {
    box-shadow: 0px 0px 25px rgb(208, 131, 208);
}

#jumboText {
    color:rgb(88, 190, 254);
}

#jumbo:hover {
    box-shadow: 0px 0px 25px lightskyblue;
}

#walmartText {
    color:rgb(0, 157, 255);
}

#walmart:hover {
    box-shadow: 0px 0px 25px rgb(0, 157, 255);
}

#siftingText {
    color:rgb(2, 72, 116);
}

#sifting:hover {
    box-shadow: 0px 0px 25px rgb(0, 28, 45);
}

#superJumboText {
    color:rgb(13, 176, 13);
}

#superJumbo:hover {
    box-shadow: 0px 0px 25px rgb(8, 104, 21);
}

footer {
    background-color: rgb(220, 155, 25);
}

#companyInfo {
    text-align:center;
    font-size:18px;
    color:white;
    padding:5px;
    font-weight:bold;
}