* {box-sizing: border-box;}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    display:block;
    float:left;
    padding: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

h1 {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial;
}

p {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial;
}

label {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial;
}

button {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial;
}

span {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial;
}

.topnavbar {
    background-color: rgb(220, 155, 25);
    height:100px;
}

.container {
    position:relative;
    left:12.5%;
    top:10%;
    background-color: rgb(255, 255, 255);
    width:75%;
    height:80%;
}

#brandImage {
    position:relative;
    width:20%;
    height:98%;
    left:5%;
}

.ribbon {
    position:relative;
    bottom:37%;
    color: rgb(220, 155, 25);
    background-color: rgb(255, 255, 255);
    height:95%;
    font-family: Arial;
    font-size:24px;
    border:none;
}

.ribbon:hover {
    background-color: rgb(220, 155, 25);
    color:rgb(255, 255, 255);
}

#meetUs {
    left:10%;
}

#ourLiners {
    left:20%;
}

#contactUs {
    left:30%;
}

#mainContainer {
    height:800px;
}

#firstRow {
    height:90%;
}

#firstLeft {
    height:100%;
}

#firstRight {
    height:100%;
}

#calculatorTitle {
    text-align:center;
    font-size:42px;
    color:rgb(220, 155, 25);
}

#calcDesc {
    text-align:center;
    font-size:20px;
}

#divCalc {
    height:75%;
    background-color: rgba(235, 235, 215, 0.75);
    border: 2px solid rgb(235, 235, 215);
}

#calculator {
    height:100%;
}

.lbl {
    float:right;
    font-size:28px;
    height:auto;
}

.textBox {
    height:40px;
    font-size:18px;
    text-align:center;
}

#divPlaceHoldLeft {
    height:35%;
}

#divMeasurements {
    height:35%;
}

#measurements {
    position:relative;
    height:100%;
    left:20%;
    border-radius:20%;
}

#divPlaceHoldRight {
    height:35%;
}

#calculatorImg {
    position:relative;
    height:100%;
    width:100%;
    border-radius:20%;
}

#divLblFront {
    position:relative;
    bottom:22.5%;
}

#divInputFront {
    position:relative;
    bottom:22.5%;
}

#divLblBack {
    position:relative;
    bottom:22.5%;
}

#divInputBack {
    position:relative;
    bottom:22.5%;
}

#divLblLeft {
    position:relative;
    bottom:22.5%;
}

#divInputLeft {
    position:relative;
    bottom:22.5%;
}

#divLblRight {
    position:relative;
    bottom:22.5%;
}

#divInputRight {
    position:relative;
    bottom:22.5%;
}

#divSubmit {
    position:relative;
    bottom:10%;
    height:15%;
}

#divReset {
    position:relative;
    bottom:10%;
    height:15%;
}

.btn {
    height:75%;
    width:25%;
    font-weight:bold;
    font-size:20px;
}

.btn:hover {
    background-color: rgb(220, 155, 25);
}

#checkButton {
    float:right;
}

#ourProducts {
    text-align:center;
    font-size:42px;
    color:rgb(220, 155, 25);
}

.productText {
    text-align: center;
    font-size:20px;
    font-weight:bold;
}

#divLarge {
    height:25%;
}

#largeText {
    color:purple;
}

#large {
    position:relative;
    left:20%;
    height:70%;
    width:60%;
}

#large:hover {
    box-shadow: 0px 0px 25px purple;
}

#divExtraGiant {
    height:25%;
}

#extraGiantText {
    color:rgb(248, 121, 142);
}

#extraGiant {
    position:relative;
    left:20%;
    height:70%;
    width:60%;
}

#extraGiant:hover {
    box-shadow: 0px 0px 25px rgb(248, 121, 142);
}

#divFlatBottom {
    height:25%;
}

#flatBottomText {
    color:rgb(208, 131, 208);
}

#flatBottom {
    position:relative;
    left:20%;
    height:70%;
    width:60%;
}

#flatBottom:hover {
    box-shadow: 0px 0px 25px rgb(208, 131, 208);
}

#divJumbo {
    height:25%;
}

#jumboText {
    color:rgb(88, 190, 254);
}

#jumbo {
    position:relative;
    left:20%;
    height:70%;
    width:60%;
}

#jumbo:hover {
    box-shadow: 0px 0px 25px lightskyblue;
}

#divWalmart {
    height:25%;
}

#walmartText {
    color:rgb(0, 157, 255);
}

#walmart {
    position:relative;
    left:20%;
    height:70%;
    width:60%;
}

#walmart:hover {
    box-shadow: 0px 0px 25px rgb(0, 157, 255);
}

#divSifting {
    height:25%;
}

#siftingText {
    color:rgb(2, 72, 116);
}

#sifting {
    position:relative;
    left:20%;
    height:70%;
    width:60%;
}

#sifting:hover {
    box-shadow: 0px 0px 25px rgb(0, 28, 45);
}

#divSuperJumbo {
    height:25%;
}

#superJumboText {
    color:rgb(13, 176, 13);
}

#superJumbo {
    position:relative;
    left:20%;
    height:70%;
    width:60%;
}

#superJumbo:hover {
    box-shadow: 0px 0px 25px rgb(8, 104, 21);
}

#secondRow {
    height:20%;
}

#secondLeft {
    height:90%;
}

#divOutputLeft {
    height:120%;
}

#imgOutputLeft {
    position:relative;
    left:40%;
    width:40%;
    height:100%;
}

#imgOutputLeft:hover {
    box-shadow: 0px 0px 25px rgb(250, 250, 136);
}

#divOutputBox {
    height:100%;
    border:2px solid rgba(220, 155, 25, .25);
    background-color: rgba(220, 155, 25, 0.025);
}

#outputText {
    position:relative;
    bottom:27.5%;
    font-size:24px;
    text-align: center;
}

#divOutputRight {
    height:120%;
}

#imgOutputRight {
    position:relative;
    left:20%;
    height:100%;
    width:40%;
}

#imgOutputRight:hover {
    box-shadow: 0px 0px 25px rgb(250, 250, 136);
}

footer {
    position:relative;
    top:100px;
}

#rowFooter {
    background-color: rgb(220, 155, 25);
}

#divBottom {
    height:40px;
    width:60%;
    position:absolute;
    top:15%;
    left:20%;
    background-color: white;
}

#companyInfo {
    position:relative;
    bottom:100%;
    text-align: center;
    font-size:18px;
}
/** MOBILE DEVELOPMENT
/
/
/
/
/
/
**/

@media only screen and (max-width:1400px)
{

    .col-1 {height: 8.33%;}
    .col-2 {height: 16.66%;}
    .col-3 {height: 25%;}
    .col-4 {height: 33.33%;}
    .col-5 {height: 41.66%;}
    .col-6 {height: 50%;}
    .col-7 {height: 58.33%;}
    .col-8 {height: 66.66%;}
    .col-9 {height: 75%;}
    .col-10 {height: 83.33%;}
    .col-11 {height: 91.66%;}
    .col-12 {height: 100%;}

    [class*="col-"] {
        width:100%;
    }

    #brandImage {
        position:relative;
        max-width:400px;
        width:80%;
        height:98%;
        left:10%;
    }

    .ribbon {
        position:absolute;
        bottom:0;
        width:80%;
        height:80%;
    }

    #meetUs {
        top:100px;
        left:10%;
    }

    #ourLiners {
        top:175px;
        left:10%;
    }

    #contactUs {
        top:250px;
        left:10%;
    }

    #mainContainer {
        top:250px;
    }

    #firstLeft {
        height:1500px;
    }

    #calculator {
        position:relative;
        top:40%;
        height:80%;
    }

    #divLblLength {
        position:relative;
        bottom:30%;
        height:5%;
    }

    .lbl {
        position:relative;
        float:none;
        font-size:24px;
    }

    .textBox {
        width:50%;
    }

    #lblLength {
        left:35%;
    }

    #divInputLength {
        position:relative;
        bottom:30%;
        height:5%;
    }

    #length {
        position:relative;
        left:25%;
    }

    #divPlaceHoldLeft {
        position:relative;
        bottom:60%;
        right:15%;
        height:20%;
    }

    #divPlaceHoldRight {
        position:relative;
        left:12.5%;
        height:20%;
        width:75%;
    }

    #divLblWidth {
        position:relative;
        bottom:48%;
        height:5%;
    }

    #lblWidth {
        left:35%;
    }

    #divInputWidth {
        position:relative;
        bottom:48%;
        height:5%;
    }

    #width {
        z-index:3;
        position:relative;
        left:25%;
    }

    #divLblFront {
        position:relative;
        bottom:31%;
        height:5%;
    }

    #lblFront {
        left:35%;
    }

    #divInputFront {
        position:relative;
        bottom:31%;
        height:5%;
    }

    #front {
        position:relative;
        left:25%;
    }

    #divLblBack {
        position:relative;
        bottom:76.5%;
        height:5%;
    }

    #lblBack {
        left:35%;
    }

    #divInputBack {
        position:relative;
        bottom:77.5%;
        height:5%;
    }

    #back {
        position:relative;
        left:25%;
    }

    #divLblLeft {
        position:relative;
        bottom:75%;
        height:5%;
    }

    #lblLeft {
        left:35%;
    }

    #divInputLeft {
        position:relative;
        bottom:75%;
        height:5%;
    }

    #left {
        position:relative;
        left:25%;
    }

    #divLblRight {
        position:relative;
        bottom:72.5%;
        height:5%;
    }

    #lblRight {
        left:35%;
    }

    #divInputRight {
        position:relative;
        bottom:72.5%;
        height:5%;
    }

    #right {
        position:relative;
        left:25%;
    }

    #secondRow {
        position:relative;
        top:80%;
    }

    #secondLeft {
        position:relative;
        bottom:1055%;
    }

    #divSubmit {
        position:relative;
        bottom:25%;
    }

    #divReset {
        position:relative;
        bottom:40%;
    }

    .btn {
        position:relative;
        bottom:75%;
        width:45%;
        z-index:4;
    }

    .btn:hover {
        background-color: rgb(237, 237, 237);
    }

    #outputText {
        position:relative;
        top:100%;
    }

    #firstRight {
        position:relative;
        top:20%;
    }

    #rowFooter {
        position:relative;
        top:2500px;
        height:100px;
    }

    #divBottom {
        height:75px;
        left:10%;
        width:80%;
    }

    #companyInfo {
        position:relative;
        bottom:60%;
        padding:4px;
    }

    #large {
        width:50%;
        height:80%;
    }

    #extraGiant {
        width:50%;
        height:80%;
    }

    #flatBottom {
        width:50%;
        height:80%;
    }

    #sifting {
        width:50%;
        height:80%;
    }

    #walmart {
        width:50%;
        height:80%;
    }

    #jumbo {
        width:50%;
        height:80%;
    }

    #superJumbo {
        width:50%;
        height:80%;
    }
}

/**
/
/
/
/
/
/
/
END MOBILE DEVELOPMENT
**/